.lanzaminetos{
    font-size: 13rem;
    line-height: 90%;
}
.lanzamientos-container{
    padding-left: 7%;
    padding-right: 7%;
}

.banco-lanzamiento{
    width: 250px;
    height: auto;
    position: absolute;
    top: -45px;
    rotate: 355deg;
    right: 26%;
}

#home-content {
    position: relative;
    visibility: hidden; /* Ocultar contenido hasta que la animación inicie */
  }