.lanzaminetos{
    font-size: 13rem;
    line-height: 90%;
}
.lanzamientos-container{
    margin-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
}

.banco-lanzamiento{
    width: 250px;
    height: auto;
    position: absolute;
    top: -45px;
    rotate: 355deg;
    right: 26%;
}

#home-content {
    position: relative;
    visibility: hidden; /* Ocultar contenido hasta que la animación inicie */
  }

  @media (min-width:768px) and (max-width:1023px){
    .banner-HOME{
        height: 90vh;
    }
    .lanzaminetos{
        font-size: 8rem;
        line-height: 90%;
    }
    .banco-lanzamiento{
        width: 170px;
        rotate: 355deg;
        right: 7%;
        top: -30px;
    }
    .lanzamientos-container{
        padding-left: 12%;
        padding-right: 12%;
    }
}

/* Pantallas Extra Grandes (Desktop grande) */
@media (min-width: 1920px) {
    .banco-lanzamiento{
        width: 300px;
        rotate: 355deg;
        right: 35%;
        top: -65px;
    }
    .lanzamientos-container{
        padding-left: 12%;
        padding-right: 12%;
    }
}

/* Pantallas Grandes (Laptops grandes o monitores de escritorio estándar) */
@media (max-width: 1440px) {
   
}

/* Pantallas Medianas (Laptops medianas y más pequeñas) */
@media (max-width: 1280px) {

}