#pantalla-carga {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: #d1df6b; /* Color de fondo de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  