.link-NAV {
    margin-left: 3%;
    margin-right: 3%;
    font-size: 2rem;
    transition: all ease-in-out 0.3s;
    &:hover{
        letter-spacing: 5px;
        transform: scale(1.03);
    }
}


@media (max-width:480px) {
    .link-NAV {
        font-size: 1.8rem;
    }
}

@media (min-width:768px) and (max-width:1024px){
    .link-NAV {
        margin-left: 1%;
        margin-right: 1%;
        font-size: 1.4rem;
    }
}