.banner-HOME {
    height: 85vh;
}

.texto-banner {
    font-size: 4rem;
}

.recuadro-banner-NOSOTROS {
    height: 500px;
    width: 500px;
    position: absolute;
    top: 10%;
    right: 44%;
    z-index: 3;
}

.recuadro-banner-marca {
    height: 80px;
    width: 700px;
    position: absolute;
    top: 10%;
    right: -2%;
    z-index: 3;
}

.img-portada-marca{
    max-height: 70vh;
}

/* Transición inicial para los elementos */
.col-lg-7 .img-fluid {
    transition: transform 0.3s ease-in-out;
}

/* Efecto hover */
.col-lg-7:hover .img-fluid {
    transform: translateX(10px);
}

.col-lg-7 .recuadro-banner-NOSOTROS {
    transition: transform 0.3s ease-in-out;
}

.col-lg-7:hover .recuadro-banner-NOSOTROS {
    transform: translate(-10px, -10px);
}

.col-lg-7 .recuadro-banner-marca {
    transition: transform 0.3s ease-in-out;
}

.col-lg-7:hover .recuadro-banner-marca {
    transform: translate(10px, -10px);
}

@media (min-width:768px) and (max-width:1024px) {
    .banner-HOME {
        height: 90vh;
    }

    .texto-banner {
        font-size: 3rem;
    }
}

/* Pantallas Extra Grandes (Desktop grande) */
@media (min-width: 1920px) and (max-width:2300px) {

    .texto-banner {
        font-size: 6rem;
    }

    .recuadro-banner-NOSOTROS {
        height: 500px;
        width: 800px;
        top: 20%;
        right: 30%;
        z-index: 3;
    }
    .recuadro-banner-marca {
        height: 120px;
        width: 900px;
        position: absolute;
        top: 18%;
        right: -2%;
        z-index: 3;
    }
}

/* Pantallas Medianas (Laptops medianas y más pequeñas) */
@media (max-width: 1280px) {}